section.hero {
	background-color: #495e57;
	color: var(--white);
	padding: 1rem 0;
	position: relative;
}

.hero h1 {
	color: var(--primary-yellow);
	margin-bottom: 0;
	font-weight: 400;
	margin-top: 1.5rem;
}

.hero span.sub-title {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1rem;
	margin-bottom: 1rem;
}

.hero .lead-text {
	max-width: 300px;
	font-size: 1.25rem;
	line-height: 140%;
	margin: 2rem 0;
}

.hero .img-container {
	width: 20rem;
	height: 27rem;
	border-radius: var(--double-border-radius);
	position: relative;
	transform: translateY(15%) scale(1.1);
	overflow: hidden;
	box-shadow: var(--base-drop-shadow);
}

.hero-img {
	width: 100%;
	height: auto;
	object-fit: contain;
	transform: translateY(-10%);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
